<h1>Template Driven form</h1>

<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f.value, f.valid)">

  <div class="form-group">
    <label>Demo</label>
    <select
      class="form-control"
      name="demo"
      [(ngModel)]="formModel.demo"
      #demo="ngModel"
      required>
      <option *ngFor="let opt of demoForms" [ngValue]="opt.key">{{opt.value}}</option>
    </select>
    <small [hidden]="demo.valid || (demo.pristine && !f.submitted)">
      Demo is required
    </small>

  </div>

  <button type="submit" class="btn btn-prinmary">Submit</button>

</form>
