<h1>
  {{title}}
</h1>

<pre>{{starRatingConfig | json}}</pre>
<star-rating-comp
  [id]="starRatingConfig.id"
  [rating]="starRatingConfig.rating"
  [step]="starRatingConfig.step"
  [showHalfStars]="starRatingConfig.showHalfStars"
  [numOfStars]="starRatingConfig.numOfStars"
  [size]="starRatingConfig.size"
  [space]="starRatingConfig.space"
  [staticColor]="starRatingConfig.staticColor"
  [disabled]="starRatingConfig.disabled"
  [starType]="starRatingConfig.starType"
  [labelText]="starRatingConfig.labelText"
  [labelPosition]="starRatingConfig.labelPosition"
  [labelVisible]="starRatingConfig.labelVisible"
  [speed]="starRatingConfig.speed"
  [direction]="starRatingConfig.direction"
  [readOnly]="starRatingConfig.readOnly"
  [getColor]="starRatingConfig.getColor"
  [getHalfStarVisible]="starRatingConfig.getHalfStarVisible"
  (onClick)="starRatingConfig.onClick($event)"
  (onRatingChange)="starRatingConfig.onRatingChange($event)"
></star-rating-comp>
<app-form-test></app-form-test>



