<div class="jumbotron">
  <h1 class="display-3">Dough-Fabric</h1>
  <p class="lead">Generic API based form builder form donut.io</p>
  <template-form-comp (onModelChange)="onTemplateFromModelChange($event)">
  </template-form-comp>
</div>

<div class="row marketing">

  <div class="col-lg-6">
    <h4>Form</h4>

   <!--
    <star-rating-comp
      [rating]="starRatingConfig.rating"
      [numOfStars]="starRatingConfig.numOfStars"
      [size]="starRatingConfig.size"
      [speed]="starRatingConfig.speed"
      [labelPosition]="starRatingConfig.labelPosition"
      [starType]="starRatingConfig.starType"
      (onClick)="onClick($event)"
      (onRatingChange)="onRatingChange($event)">
    </star-rating-comp>
    -->

    <pre>{{dynamicItems | json}}</pre>
    <dynamic-form
    [items]="dynamicItems">
    </dynamic-form>

  </div>

  <div class="col-lg-6">
    <h4>FormConfig: {{formName}}</h4>

    <dynamic-form
      [items]="formItems"
      [model]="formModel"
      (onPayloadChange)="onPayloadChange($event)">
    </dynamic-form>
  </div>

</div>
