<h1>Start</h1>

<star-rating-comp
  [rating]="starRatingConfig.rating"
  [numOfStars]="starRatingConfig.numOfStars"
  [size]="starRatingConfig.size"
  [speed]="starRatingConfig.speed"
  [labelPosition]="starRatingConfig.labelPosition"
  [starType]="starRatingConfig.starType"
  (onClick)="onClick($event)"
  (onRatingChange)="onRatingChange($event)">
</star-rating-comp>



  <select
    (input)="onSelectChange($event)">
    <option *ngFor="let opt of demoForms" [value]="opt.key">{{opt.value}}</option>
  </select>

<dynamic-form
  [items]="formItems"
  [model]="formModel"
  (onPayloadChange)="onPayloadChange($event)">
</dynamic-form>
