<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Rating, Stars,Star Rating,Star-Rating,Starrating,Icon,SVG,CSS,Pure CSS,CSS only,JavaScript,Angular,Angular Component,Angular1,Angular1 Component,Angular1.5,Angular1.5 Component, Typescript" />
</head>
<body ng-app="app" class="test">
<div ui-view></div>
</body>
</html>