<div id="init-view" class="container">

    <div class="jumbotron">
        <h1 class="display-3">Angular Stars</h1>
        <p class="lead">Css only star rating inc angular component</p>
        <p>
            <star-rating-comp
                    size="'large'"
                    rating="init.rating"
                    text="init.rating"
                    on-click="init.onClick(rating)"
                    on-update="init.onUpdate(rating)">
            </star-rating-comp>
            <!--
            get-color="init.getColor(rating, numOfStars)"
                    on-click="init.onClick(rating)"
                    on-update="init.onUpdate(rating)"
            -->
        </p>
    </div>

    <div class="container">


        <div class="row">
            <div class="col-xs-4">
                <fieldset class="form-group">
                    <legend>Layout
                        <star-rating-comp
                                rating="init.rating"
                                text="init.rating"
                                label-position="init.position"
                                spread="init.spread"
                                star-type="init.starType"
                                on-update="init.onUpdate(rating)">
                        </star-rating-comp>
                    </legend>
                    <div class="form-check">
                        <label class="col-xs-4 col-form-label">Lable Position</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="init.position">
                                <option value="">position</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.labelPositionOptions">{{value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">starOptions: {{init.starType}}</label>
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="init.starType">
                                <option value="">starType</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.starOptions">{{value}}
                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="init.spread">
                            Spread
                        </label>
                    </div>
                </fieldset>

            </div>
            <div class="col-xs-4">
                <fieldset class="form-group">
                    <legend>Dimensions
                        <star-rating-comp
                                size="init.size"
                                num-of-stars="init.numOfStars"
                                rating="init.rating"
                                star-type="init.starType"
                                on-update="init.onUpdate(rating)">
                        </star-rating-comp>
                    </legend>
                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">NumOfStars</label>
                        <div class="col-xs-6">
                            <input type="number" class="form-control" placeholder="NumOfStars"
                                   ng-model="init.numOfStars">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">Size: {{init.size}}</label>
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="init.size">
                                <option value="">size</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.sizeOptions">{{value}}
                                </option>
                            </select>
                        </div>

                    </div>

                </fieldset>

            </div>
            <div class="col-xs-4">
                <fieldset class="form-group">
                    <legend>Styling
                        <star-rating-comp
                                color="init.color"
                                speed="init.speed"
                                disabled="init.disabled"
                                rating="init.rating"
                                on-update="init.onUpdate(rating)">
                        </star-rating-comp>

                    </legend>
                    <div class="form-group row">
                        <label class="col-xs-4 col-form-label">Color</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="init.color">
                                <option value="">color</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.colorOptions">{{value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="init.disabled">
                            Disabled
                        </label>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-4 col-form-label">Speed: {{init.speed}}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="init.speed">
                                <option value="">speed</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.speedOptions">{{value}}
                                </option>
                            </select>
                        </div>
                    </div>

                </fieldset>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-4">
                <fieldset class="form-group">
                    <legend>Other
                        <star-rating-comp
                                id="{{init.id}}"
                                text="init.text"
                                read-only="init.readOnly"
                                rating="init.rating"
                                show-half-stars="init.showHalfStars"
                                get-half-star-class="init.getHalfStarClass(rating)"
                                on-update="init.onUpdate(rating)">
                        </star-rating-comp>
                    </legend>

                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">Id</label>
                        <div class="col-xs-6"><input type="text" class="form-control" placeholder="Id"
                                                     ng-model="init.id">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">Rating</label>
                        <div class="col-xs-6">
                            <input type="number" class="form-control" placeholder="rating" ng-model="init.rating">
                        </div>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="init.showHalfStars">
                            showHalfStars
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="init.readOnly">
                            ReadOnly
                        </label>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">Text</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="text:number" ng-model="init.text">
                        </div>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="init.customGetColor">
                            custom getColor
                        </label>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>

</div>