.phone-simulator {
  position: relative;
  width: 375px;
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  overflow:hidden;
  padding-top: 5px;

  &:before {
    transition: all 0.3s ease;
  }

  &.simulate-height {
    height: 667px;
  }

  &.no-border {
    border: none;
  }

  &.overflow-visible {
    overflow: visible;
  }

  &.has-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.18);
  }

}

.demo-block {
  width:200px;
  height:200px;
  box-shadow: 0px 0px 3px #aaa;
}

.icon.dummy {
  width: 10px;
  height: 14px;
  border-radius: 50%;
  background-color:#000;
  padding-left:5px;
}