<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <!--
  <div formGroupName="test">
  </div>
   <star-rating-comp [starType]="'svg'" [labelText]="'Form Test Component'" formControlName="ratingComponent" ></star-rating-comp>

  -->
  <star-rating-comp [starType]="'svg'" [labelText]="'Form Test Component'" ></star-rating-comp>

  <input type="number" formControlName="ratingInput">

  <star-rating-comp [starType]="'svg'" [labelText]="'Form Test Component'" formControlName="ratingInput" ></star-rating-comp>

  <stock-counter formControlName="ratingInput"></stock-counter>



  <div class="stock-inventory__buttons">
    <button
            type="submit"
            [disabled]="form.invalid">
      Order stock
    </button>
  </div>
  <pre>{{ form.value | json }}</pre>
</form>
