<div class="form-group" [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <small [attr.id]="question.key+'Help'" *ngIf="question.help" class="form-text text-muted">{{question.help}}</small>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'"
           [formControlName]="question.key"
           [id]="question.key"
           [type]="question.type"
           [attr.class]=" 'form-control ' + question.class"
           [attr.aria-describedby]="question.key+'Help'"
           [attr.placeholder]="question.placeholder">

    <div *ngSwitchCase="'radio'">
      <label
        *ngFor="let option of question.options">
        {{option.key}}
        <input
          #option
          [type]="question.type"
          [attr.class]="question.class"
          name="group3"
          [id]="question.key + ' ' + option.key"
          [value]="option.value"
        />
      </label>
    </div>

    <input *ngSwitchCase="'checkbox'"
           [formControlName]="question.key"
           [id]="question.key"
           [type]="question.type"
           [attr.class]=" 'form-control ' + question.class"
           [attr.aria-describedby]="question.key+'Help'"
           [attr.placeholder]="question.placeholder">

    <select
      [id]="question.key"
      *ngSwitchCase="'select'"
      [formControlName]="question.key"
      [attr.class]=" 'form-control select ' + question.class"
      [attr.aria-describedby]="question.key+'Help'"
      [attr.placeholder]="question.placeholder">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

</div>
