<div class="form-group" [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <small [attr.id]="question.key+'Help'" *ngIf="question.help" class="form-text text-muted">{{question.help}}</small>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>



    <input *ngIf="question.controlType === 'textbox'"
           [formControlName]="question.key"
           [id]="question.key"
           [type]="question.type"
           [attr.class]=" 'form-control ' + question.class"
           [attr.aria-describedby]="question.key+'Help'"
           [attr.placeholder]="question.placeholder">

    <label *ngIf="question.controlType === 'radio'">
      <tr *ngFor="let option of question.options">
        {{ option.value }}
          <input [type]="question.type"
                 [id]="question.key + ' ' + option.key"
                 name="radiogroup"
                 [type]="question.type"
                 [attr.class]="question.class"
                 [checked]="idx === 0"
                 [value]="option.key">
      </tr>
    </label>


    <input *ngIf="question.controlType === 'checkbox'"
           [formControlName]="question.key"
           [id]="question.key"

           [attr.class]=" 'form-control ' + question.class"
           [attr.aria-describedby]="question.key+'Help'"
           [attr.placeholder]="question.placeholder">

    <select
      [id]="question.key"
      *ngIf="question.controlType === 'select'"
      [formControlName]="question.key"
      [attr.class]=" 'form-control select ' + question.class"
      [attr.aria-describedby]="question.key+'Help'"
      [attr.placeholder]="question.placeholder">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>



</div>
