<div class="form-group" [formGroup]="form">

  <input *ngIf="item.controlType === 'textbox'"
         [formControlName]="item.key"
         [id]="item.key"
         [type]="item.type"
         [attr.class]="'form-control '"
         [attr.aria-describedby]="item.key+'Help'"
         [attr.placeholder]="item.placeholder">

  <div class="form-check" *ngIf="item.controlType === 'radio'">
    <label class="form-check-label" *ngFor="let option of item.options">
      <input [type]="item.type"
             [id]="item.key + ' ' + option.key"
             name="radiogroup"
             [attr.class]="item.class"
             [checked]="idx === 0"
             [value]="option.key">
      {{ option.value }}
    </label>
  </div>

  <input *ngIf="item.controlType === 'checkbox'"
         [formControlName]="item.key"
         [type]="item.type"
         [id]="item.key"
         [attr.class]="'form-control '"
         [attr.aria-describedby]="item.key+'Help'"
         [attr.placeholder]="item.placeholder">

  <select
    *ngIf="item.controlType === 'select'"
    [id]="item.key"
    [formControlName]="item.key"
    [attr.class]="'form-control select '"
    [attr.aria-describedby]="item.key+'Help'"
    [attr.placeholder]="item.placeholder">
    <option *ngFor="let opt of item.options" [ngValue]="opt.key">{{opt.value}}</option>
  </select>

  <select
    *ngIf="item.controlType === 'multiselect'"
    multiple
    [id]="item.key"
    [formControlName]="item.key"
    [attr.class]="'form-control'"
    [attr.aria-describedby]="item.key+'Help'"
    [attr.placeholder]="item.placeholder">
    <option *ngFor="let opt of item.options" [ngValue]="opt.key">{{opt.value}}</option>
  </select>

  <textarea
    *ngIf="item.controlType === 'textarea'"
    [id]="item.key"
    [formControlName]="item.key"
    [attr.class]="'form-control'"
    [attr.aria-describedby]="item.key+'Help'"
    [attr.placeholder]="item.placeholder">
  </textarea>

  <button
    *ngIf="item.controlType === 'button'"
    [id]="item.key"
    [type]="item.type"
    [attr.class]="'btn btn-prinmary'">
    {{item.label}}
  </button>

</div>
