<div id="main-container" class="container-fluid">
  <nav id="main-menu" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler d-lg-none"
            type="button"
      data-toggle="collapse"
      data-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNav()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" navbar-collapse" id="mainNavbar"
          [ngClass]="{collapse:navBarCollapsed}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['property-bindings']"
            (click)="toggleNav(true)">Property Bindings</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['event-bindings']"
            (click)="toggleNav(true)">Event Bindings</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['form-control']"
            (click)="toggleNav(true)">From Control</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['kitchensink']"
            (click)="toggleNav(true)">Kitchensink</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['static-config-override']"
            (click)="toggleNav(true)">Custom Config</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['lazy-config-override']"
            (click)="toggleNav(true)">Custom Lazy Config</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="main-content" class="row">
    <aside id="sidebar" class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <nav id="side-nav">
      </nav>
    </aside>
    <main id="main-" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<h2>Nx</h2>

An open source toolkit for enterprise Angular applications.

Nx is designed to help you create and build enterprise grade Angular applications. It provides an opinionated approach to application project structure and patterns.

<h2>Quick Start & Documentation</h2>

<a href="https://nrwl.io/nx">Watch a 5-minute video on how to get started with Nx.</a>
