/*
Star Rating

Beautiful ui component for displaying rating values of up to 5 stars with css only.
Options are:
- Value
- Size
- Spread
- Static Color
- Label Position
- Animation Speed
- Disabled

Styleguide 1.1
*/
/*
Value

Different styles for different rating values. 
Default colors are red for values equal to 2 or below, yellow for 3, and green for 4 or above.

default                  - 0 rating
.value-1                - 1 rating
.value-2                - 2 rating
.value-3                - 3 rating
.value-4                - 4 rating
.value-5                - 5 rating

markup:
<div class="rating {$modifiers}">
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>

sg-wrapper:
<div class="phone-simulator padding">
    <sg-wrapper-content/>
</div>

Styleguide 1.1.1
*/

/*
Size

Different sizes of the stars and the label.
Additional to the default size medium there are more sizes, small and large.


default                  - Default size
.small                   - Small size
.medium                  - Medium size
.large                   - Large size

markup:
<div class="rating value-4 {$modifiers}">
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>

sg-wrapper:
<div class="phone-simulator padding">
    <sg-wrapper-content/>
</div>

Styleguide 1.1.2
*/

/*
Spread

Different spread options

default                  - No spread
.spread                  - Stars are spread to the entire container width

markup:
<div class="rating value-4 large {$modifiers}">
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>

sg-wrapper:
<div class="phone-simulator padding">
    <sg-wrapper-content/>
</div>

Styleguide 1.1.3
*/

/*
Static Color

Overriding default colors of ratings to display the color independent of the rating.


markup:
<div class="rating value-2 large color-positive">
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>
<div class="rating value-3 large color-negative">
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>
<div class="rating value-4 large color-middle ">
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>

sg-wrapper:
<div class="phone-simulator padding">
    <sg-wrapper-content/>
</div>

Styleguide 1.1.4
*/

/*
Label Position

Displays the rating value as text label.

 default                 - Value displayed on the left side
.label-top               - Value displayed on the top
.label-right             - Value displayed on the right side
.label-bottom            - Value displayed on the bottom
.label-left              - Value displayed on the left side


markup:
<div class="rating padding {$modifiers}">
    <div class="label-value">0</div>
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>
<div class="rating value-2 small padding {$modifiers}">
    <div class="label-value">(bad)</div>
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>
<div class="rating value-3 medium padding {$modifiers}">
    <div class="label-value">3.1</div>
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>
<div class="rating value-4 large padding {$modifiers}">
    <div class="label-value">Good</div>
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>

sg-wrapper:
<div class="phone-simulator padding">
    <sg-wrapper-content/>
</div>

Styleguide 1.1.5
*/

/*
   Disabled

   Visualizes the disabled state of the rating component. The styles symbolizing that no interaction is possible

   .disabled                - Stars are grayed out, no interaction is possible

   markup:
   <div class="rating padding {$modifiers}">
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>
<div class="rating value-2 small padding {$modifiers}">
    <div class="label-value">(bad)</div>
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>
<div class="rating value-3 medium padding {$modifiers}">
    <div class="label-value">3.1</div>
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>
<div class="rating value-4 large padding {$modifiers}">
    <div class="label-value">Good</div>
    <div class="star-container">
        <div class="star" ng-repeat="i in [1,2,3,4,5]">
            <svg class="star-empty">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
</div>

   sg-wrapper:
   <div class="phone-simulator padding">
       <sg-wrapper-content/>
   </div>

   Styleguide 1.1.6
   */
/*
   Animation Speed

   By default the stars animate (fade) to the new state. These modifiers provide three different durations of the transition.

   default                  - Transition runs in noticeable speed
  .immediately              - No Transition
  .noticeable               - Transition runs in noticeable speed
  .slow                     - Transition runs very slow

   markup:
   <div class="rating value-{{rating}} padding {$modifiers}">
    <div class="star-container">{{rating}}!
        <div ng-init="rating = 2" class="star" ng-repeat="i in [1,2,3,4,5] track by $index" ng-click="(rating == 2)?4:2">
            <svg class="star-empty">{{$index}}!
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star"></use>
            </svg>
            <svg class="star-filled">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#star-filled"></use>
            </svg>
        </div>
    </div>
  </div>

   sg-wrapper:
   <div class="phone-simulator padding">
       <sg-wrapper-content/>
   </div>

   Styleguide 1.1.7
   */

$color-negative-rating: #f03c56;
$color-middle-rating: #ffc058;
$color-positive-rating: #7ed321 !default;
$color-disabled-rating: #999 !default;

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;

  .star-container {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    .star {
      position: relative;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.star-filled {
          opacity: 0;
        }
      }

      + .star {
        margin-left: 5px;
      }
    }
  }

  @for $i from 1 through 10 {
    &.value-#{$i} {

      .star-container {
        .star:nth-child(-n+#{$i}) {
          svg {
            &.star-filled {
              opacity: 1;
            }
          }
        }

        .star {
          svg {
            @if $i <= 2 {
              fill: $color-negative-rating;
            }
            @if $i == 3 {
              fill: $color-middle-rating;
            }
            @if $i >= 4 {
              fill: $color-positive-rating;
            }
          }
        }
      }
    }
  }

  /*Rating Position*/

  &.label-top {
    flex-direction: column;

    .label-value {
      + .star-container {
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
      }
    }
  }

  //Default
  .star-container {
    margin-left: 5px;
    margin-right: 5px;
  }

  &.label-left .label-value {
    flex: 0 0 auto;

    + .star-container {
      margin-left: 5px;
      margin-right: 0px;
    }
  }

  &.label-right {
    flex-direction: row-reverse;

    .label-value {
      + .star-container {
        margin-left: 0;
        margin-right: 5px;
      }
    }
  }

  &.label-bottom {
    flex-direction: column-reverse;

    .label-value {
      + .star-container {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }

  /*AnimationSpeed*/

  //default
  .star {
    transition: all 0.3s ease;
    svg {
      transition: all 0.3s ease;
    }
  }

  &.immediately
  .star {
    transition: none;
    svg {
      transition: none;
    }
  }

  &.noticeable {
    .star {
      transition: all 0.3s ease;
      svg {
        transition: all 0.3s ease;
      }
    }
  }

  &.slow {
    .star {
      transition: all 0.8s ease;
      svg {
        transition: all 0.8s ease;
      }
    }
  }

  /* Sizes */

  //default
  .star {
    width: 20px;
    height: 20px;
  }

  .label-value {
    font-size: 18px;
    line-height: 18px;
  }

  &.small {
    .star {
      width: 10px;
      height: 9.5px;
    }

    .label-value {
      font-size: 9.5px;
      line-height: 9.5px;
    }
  }

  &.medium {
    .star {
      width: 20px;
      height: 20px;
    }

    .label-value {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &.large {
    .star {
      width: 35px;
      height: 33.3px;
    }

    .label-value {
      font-size: 28px;
      line-height: 28px;
    }
  }

  /* Spread */

  //default
  .star-container {
    justify-content: center;
  }

  &.spread {
    .star-container {
      flex: 1 1 auto;
      justify-content: space-between;
    }
  }

  /* Color override */

  &.color-default {
    .star-container {
      .star {
        svg {
          fill: $color-disabled-rating;
        }
      }
    }
  }

  //default
  .star-container,
  &.color-negative {
    .star-container {
      .star {
        svg {
          fill: $color-negative-rating;
        }
      }
    }
  }

  &.color-middle {
    .star-container {
      .star {
        svg {
          fill: $color-middle-rating;
        }
      }
    }
  }

  &.color-positive {
    .star-container {
      .star {
        svg {
          fill: $color-positive-rating;
        }
      }
    }
  }

  /*Disabled*/

  &.disabled {
    .label-value {
      opacity: 0.5;
    }
    .star-container {
      .star {
        opacity: 0.5;
      }
    }
  }
}
