<div id="init-view" class="container">

    <div class="jumbotron">
        <h1 class="display-3">Angular Stars</h1>
        <p class="lead">Css only star rating inc angular component</p>
        <p>
            <star-rating-comp
                    size="'large'"
                    rating="init.rating"
                    label-text="init.rating"
                    on-click="init.onClick($event)"
                    on-update="init.onUpdate($event)">
            </star-rating-comp>
            <!--
            get-color="init.getColor(rating, numOfStars)"
                    on-click="init.onClick($event)"
                    on-update="init.onUpdate(rating)"
            -->
        </p>
    </div>

    <single>
        ERROR
    </single>

    <!--
    <div style="width: 300px; margin: 30px auto; background: #fafafa; height: 100px; display:flex; align-items: center; justify-content: center;">
        <div style="width: 100%;">
            <star-rating-comp
                    id="init.id"

                    rating="init.rating"
                    show-half-stars="init.showHalfStars"
                    disabled="init.disabled"
                    read-only="init.readOnly"
                    space="init.space"
                    size="init.size"
                    num-of-stars="init.numOfStars"

                    static-color="init.color"
                    speed="init.speed"


                    label-text="init.rating"
                    label-position="init.position"

                    star-type="init.starType"


                    get-half-star-class="init.getHalfStarClass(rating)"
                    on-update="init.onUpdate($event)"
                    on-click="init.onClick($event)">
            </star-rating-comp>
        </div>
    </div>
     -->
    <div class="container">

        <div class="row">
            <div class="col-xs-4">
                <fieldset class="form-group">
                    <legend>Layout
                        <star-rating-comp
                                rating="init.rating"
                                label-text="init.rating"
                                label-position="init.position"
                                space="init.space"
                                star-type="init.starType"
                                on-update="init.onUpdate($event)">
                        </star-rating-comp>
                    </legend>
                    <div class="form-check">
                        <label class="col-xs-4 col-form-label">Lable Position</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="init.position">
                                <option value="">position</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.labelPositionOptions">{{value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">starOptions: {{init.starType}}</label>
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="init.starType">
                                <option value="">starType</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.starOptions">{{value}}
                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4 col-form-label">Space</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="single.space">
                                <option value="">space</option>
                                <option value="{{value}}" ng-repeat="(key, value) in single.spaceOptions">{{value}}
                                </option>
                            </select>
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="col-xs-4">
                <fieldset class="form-group">
                    <legend>Dimensions
                        <star-rating-comp
                                size="init.size"
                                num-of-stars="init.numOfStars"
                                rating="init.rating"
                                star-type="init.starType"
                                on-update="init.onUpdate($event)">
                        </star-rating-comp>
                    </legend>
                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">NumOfStars</label>
                        <div class="col-xs-6">
                            <input type="number" class="form-control" placeholder="NumOfStars"
                                   ng-model="init.numOfStars">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">Size: {{init.size}}</label>
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="init.size">
                                <option value="">size</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.sizeOptions">{{value}}
                                </option>
                            </select>
                        </div>

                    </div>

                </fieldset>

            </div>
            <div class="col-xs-4">
                <fieldset class="form-group">

                    <legend>Styling
                        <star-rating-comp
                                static-color="init.color"
                                speed="init.speed"
                                disabled="init.disabled"
                                rating="init.rating"
                                get-color="init.getColor"
                                on-update="init.onUpdate($event)">
                        </star-rating-comp>
                    </legend>

                    <div class="form-group row">
                        <label class="col-xs-4 col-form-label">Color</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="init.color">
                                <option value="">color</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.colorOptions">{{value}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-change="init.updateGetColorBinding()" ng-model="init.useCustomCetColor">
                            use custom getColor function
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="init.disabled">
                            Disabled
                        </label>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4 col-form-label">Speed: {{init.speed}}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="init.speed">
                                <option value="">speed</option>
                                <option value="{{value}}" ng-repeat="(key, value) in init.speedOptions">{{value}}
                                </option>
                            </select>
                        </div>
                    </div>

                </fieldset>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-4">
                <fieldset class="form-group">
                    <legend>Other
                        <star-rating-comp
                                id="init.id"
                                label-text="init.labelText"
                                read-only="init.readOnly"
                                rating="init.rating"
                                show-half-stars="init.showHalfStars"
                                get-half-star-visible="init.getHalfStarVisible"
                                on-update="init.onUpdate($event)"
                                on-click="init.onClick($event)">
                        </star-rating-comp>
                    </legend>

                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">Id</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="Id" ng-model="init.id">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">Rating</label>
                        <div class="col-xs-6">
                            <input type="number" class="form-control" placeholder="rating" step="0.5" ng-model="init.rating">
                        </div>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="init.showHalfStars">
                            showHalfStars
                        </label>
                    </div>


                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-change="init.updateGetHalfStarVisibleBinding()" ng-model="init.useCustomGetHalfStarVisible">
                            use custom getHalfStarVisible function
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="init.readOnly">
                            ReadOnly
                        </label>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-6 col-form-label">Text</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="Label text" ng-model="init.labelText">
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>

</div>