@charset "UTF-8";


/*Default styles and modifier
====================================================*/

.rating {
  &.theme-kununu {
    background :red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $rating-margin-bottom;

    .star-container {
      display: flex;
      align-items: center;
      flex: 0 0 auto;

      .star {
        position: relative;
      }
    }
  }
}